/*{
    font-family: sans-serif;
}
*/
.head-name{
    margin: 10px 0px 0px 10px;
    font-size: 30px;
    font-weight: bold;
    width: 97%;
    height: 5%;
}

.filters-container{
    margin-left: 10px;
    width: 98%;
    height: 5%;
}

.inner-filters-container{
    width: 99%;
    margin: 0 auto;
}

.select-tab{
    width: 100%;
    height: 30px;
    border-radius: 4px;
}

.ind{
    display: inline-block;
    width: 32%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.indicators-container{
    height: 5%;
    width: 97%;
    margin-left: 10px;
}

hr{
    margin: 0 10px 0 10px;
    height: 3px;
    background: black;
}

.projects-container{
    height: 84%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#left{
    width: 40%;
    height: 96%;
    /*border: 1px solid;*/
    float: left;
}

#right{
    width: 56%;
    height: 94%;
    margin-top: 2%;
    margin-left: 2%;
    /*border: 1px solid;*/
    float: left;
}

#clear{
    clear: both;
}

.ui-dropdown {
    margin-left: 10px;
    width: 98% !important;
}

.ui-dropdown-trigger {
    padding-right: 6% !important;
}