/* Initiators */

.parent-container{
    display: flex;
    flex-direction: row;
}

.vertical-align-middle{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.horizontal-align-start{
    justify-content: flex-start;
}

.horizontal-align-end{
    justify-content: flex-end;
}

.initiators{
    display: table;
    padding-bottom: 10px;
    padding-left: 10px;
}

.initiators-section-name{
    font-size: 12px;
    font-weight: bold;
    border-right: 2px solid gray;
}

.initiators-name{
    font-size: 12px;
}


/* Category */

.categories{
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    border: 1px black solid;
    table-layout: fixed;
}

.category-name{
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

.category-value{
    font-size: 22px;
    font-weight: bold;
    /*padding-left: 10px;*/
    border-bottom: 2px solid gray;
}

.category-value .currency{
    font-size: 12px;
}


/* Project Description */

.project-description{
    font-size: 12px;
}

.main-section-name{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.project-name{
    padding: 10px 10px 5px 10px;
    font-size: 25px;
}

:host[page-name="detail"] .project-name{
    font-size: 2.5em;
    font-weight: bold;
}

:host[page-name="detail"] .initiators-section-name{
    font-size: 1.5em;
    font-weight: bold;
}

:host[page-name="detail"] .main-section-name{
    font-size: 1.5em;
    font-weight: bold;
}

:host[page-name="detail"] .category{
    font-weight: bold;
}


:host[page-name="detail"] .initiators-name , .project-description, .category-name{
    font-size: 1.5em;
}

:host[page-name="detail"] .categories {
    font-size: 200%;
    color: red;
}