/* Initiators */

.initiators{
    display: table;
    padding-bottom: 10px;
    padding-left: 10px;
}

.initiators-section-name{
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    width: 150px;
}

.initiators-name{
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    border-left: 2px solid gray;
    padding-left: 10px;
}


/* Category */

.categories{
    display: table;
    padding-bottom: 10px;
    padding-left: 10px;
}

.category-name{
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

.category-value{
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
    border-bottom: 2px solid gray;
    width: 100px;
}

.category-value .currency{
    font-size: 12px;
}


/* Project Description */

.project-descriptions{
    display: table;
    padding-bottom: 10px;
    padding-left: 10px;
}

.project-description{
    display: table-row;
    font-size: 12px;
}


/* Main Section Name*/

.main-section-name{
    padding-left: 10px;
}

.main-section-name div{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}