

.parent-container{
    display: flex;
    flex-direction: row;
}

.vertical-align-middle{
    display: flex;
    align-items: center;
}

.vertical-align-bottom{
    display: flex;
    align-items: flex-end;
}

.vertical-align-top{
    display: flex;
    align-items: flex-start;
}

.BBorder{
    border-bottom: 2px solid gainsboro;
}

.horizontal-align-start{
    justify-content: flex-start;
}

.horizontal-align-end{
    justify-content: flex-end;
}

/* Initiators */

.initiators-section-name{
    font-size: 12px;
    font-weight: bold;
    border-right: 2px solid gainsboro;
}

.initiators-name{
    font-size: 12px;
}


/* Category */

.category-name{
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
}

.category-value{
    font-size: 30px;
}

.category-currency{
    font-weight: bold;
    font-size: 11px;
}

/* Project Description */

.project-description{
    font-size: 15px;
}

.main-section-name{
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0 5px 0;
}

.project-name{
    font-size: 25px;
}

:host[page-name="detail"] .project-name{
    font-size: 250%;
    font-weight: bold;
    line-height: 1em;
}

:host[page-name="detail"] .main-section-name{
    font-size: 150%;
    line-height: 1em;
}

:host[page-name="detail"] .initiators-section-name{
    font-size: 130%;
    font-weight: bold;
    line-height: 1em;
}

:host[page-name="detail"] .initiators-name{
    font-size: 1.3em;
    line-height: 1em;
}

:host[page-name="detail"] .category-name{
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1em;
}

:host[page-name="detail"] .category-value{
    font-size: 3.5em;
    line-height: 1em;
}

:host[page-name="detail"] .category-currency{
    font-size: 1.5em;
    line-height: 1em;
}


:host[page-name="detail"] .project-description{
    font-size: 130%;
    line-height: 1em;
}

:host[page-name="detail"] .projects, .industry-category, .realization-description{
    padding-bottom: 10px;
}

:host[page-name="detail"] .projects .main-section-name, .industry-category .main-section-name, .realization-description .main-section-name{
    padding-bottom: 10px;
}

