<div id="wrapper">
    <div id="left">
        <div class="head-name">Инвестиционные проекты</div>
        <!--<div class="filters-container">-->
            <!--<div class="inner-filters-container">-->
                <!--<select class="select-tab" (change) = "onChange($event)">-->
                    <!--<option value = "any">Все проекты</option>-->
                    <!--<option *ngFor="let ptype of projectTypes | async" value= "{{ptype}}">{{ptype}}</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <p-dropdown [options]="projectTypes" [(ngModel)]="selectedType" (onChange)="filterProjects($event)"></p-dropdown>

        <div class="indicators-container">
            <div class="ind">
                <i class="fa fa-circle" aria-hidden="true" style="color: #1211f3"></i>
                {{(projects)?.length}}
            </div>
            <div class="ind">
                <i class="fa fa-check-circle" aria-hidden="true" style="color: #20b052"></i>
                {{normalProjects}}
            </div>
            <div class="ind">
                <i class="fa fa-exclamation-circle" aria-hidden="true" style="color: #890511"></i>
                {{delayedProjects}}
            </div>
        </div>
        <div class="projects-container">
            <div *ngFor="let project of projects" (click)="onSelect(project)">
                <hr>
                <project-description [project]="project"></project-description>
            </div>
        </div>
    </div>

    <div id="right">
        <olmap [projects]="projects" [selectedProject]="selectedProject"></olmap>
    </div>
    <div id="clear"></div>
</div>