<div id="wrapper">
    <div id="left">
        <div class="head-name">Ивестиционные проекты</div>
        <div class="filters-container">
            <div class="inner-filters-container">
                <select class="select-tab">
                    <option>Все категории</option>
                </select>
            </div>
        </div>
        <div class="indicators-container">
            <div class="ind">
                <img src="1.jpg"/>
                24
            </div>
            <div class="ind">
                <img src="1.jpg"/>
                30
            </div>
            <div class="ind">
                <img src="1.jpg"/>
                2
            </div>
        </div>
        <div class="projects-container">
            <div *ngFor="let project of projects" (click)="onSelect(project)">
                <project-description [project]="project"></project-description>
            </div>
        </div>
    </div>

    <div id="right">
        <olmap [projects]="projects" [selectedProject]="selectedProject"></olmap>
    </div>
    <div id="clear"></div>
</div>