<div id="wrapper">
    <div id="left">
        <div class="headName">Ивестиционные проекты</div>
        <div class="filters-container">
            <div class="inner-filters-container">
                <select class="selectTab">
                    <option>Все категории</option>
                </select>
            </div>
        </div>
        <div class="indicators-container">
            <div class="Ind">
                <img src="1.jpg"/>
                24
            </div>
            <div class="Ind">
                <img src="1.jpg"/>
                30
            </div>
            <div class="Ind">
                <img src="1.jpg"/>
                2
            </div>
        </div>
        <div class="projects-container">
            <div *ngFor="let project of projects" (click)="onSelect(project)">
                <div class="project">
                    <hr>
                    <div class="projectName" (click)="goToDetail(project)">{{project.name}}</div>
                    <div class="main-section-name">
                        <div>Еврейская автономная область</div>
                    </div>
                    <div class="initiators">
                        <div class="initiators-section-name">
                            <span>Инициаторы проекта</span>
                        </div>
                        <div class="initiators-name">
                            <div>ООО "Дальневосточный графит"</div>
                            <div>ООО "Группа Магнезит"</div>
                            <div>ООО "Группа Магнезит"</div>
                            <div>ООО "Группа Магнезит"</div>
                            <div>ООО "Группа Магнезит"</div>
                        </div>
                    </div>
                    <div class="main-section-name">
                        <div>Недра (Графитовая промышленность)</div>
                    </div>
                    <div class="categories">
                        <div class="category">
                            <div class="category-name">Сумма инвестиций</div>
                            <div class="category-value">
                                <span>4,7</span>
                                <span class="currency">млрд руб.</span>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category-name">Период окупаемости бюджета</div>
                            <div class="category-value">
                                <span>4,8</span>
                                <span class="currency">лет</span>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category-name">Внутренняя норма доходности бюджеьа</div>
                            <div class="category-value">
                                <span>35</span>
                                <span class="currency">%</span>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category-name">Дисконтируемый период окупаемости бюджета</div>
                            <div class="category-value">
                                <span>5,9</span>
                                <span class="currency">лет</span>
                            </div>
                        </div>
                    </div>
                    <div class="main-section-name">
                        <div>Этапы реализации проекта</div>
                    </div>
                    <div class="projectDescriptions">
                        <div class="projectDescription"> Строительство (2011-2018)</div>
                        <div class="projectDescription"> Выход на проектную мощность (2019-2018)</div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <div id="right">
        <olmap></olmap>
    </div>
    <div id="clear"></div>
</div>
<style>

    /* Initiators */

    .initiators{
        display: table;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .initiators-section-name{
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        font-weight: bold;
        width: 150px;
    }

    .initiators-name{
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        border-left: 2px solid gray;
        padding-left: 10px;
    }


    /* Category */

    .categories{
        display: table;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .category-name{
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        font-weight: bold;
        width: 150px;
        border-bottom: 2px solid gray;
        border-right: 2px solid gray;
    }

    .category-value{
        display: table-cell;
        vertical-align: middle;
        font-size: 22px;
        font-weight: bold;
        padding-left: 10px;
        border-bottom: 2px solid gray;
        width: 100px;
    }

    .category-value .currency{
        font-size: 12px;
    }


    /* Project Description */

    .projectDescriptions{
        display: table;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .projectDescription{
        display: table-row;
        font-size: 12px;
    }


    /* Main Section Name*/

    .main-section-name{
        padding-left: 10px;
    }

    .main-section-name div{
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 15px;
    }





    .headName{
        margin: 10px 10px 10px 10px;
        font-size: 26px;
        font-weight: bold;
    }

    .filters-container{
        width: 100%;
        margin: 10px 0px 10px 0px;
    }

    .inner-filters-container{
        width: 99%;
        margin: 0 auto;
    }

    .selectTab{
        width: 100%;
        height: 30px;
        border-radius: 4px;
    }

    .Ind{
        display: inline-block;
        width: 32%;
        margin: 0 auto;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    .indicators-container{
        margin-bottom: 10px;
    }

    .projectName{
        padding: 10px 10px 5px 10px;
    }

    hr{
        margin: 0 10px 0 10px;
        height: 3px;
        background: black;
    }

    #left{
        width: 40%;
        height: 98%;
        border: 1px solid;
        float: left;
    }
    #right{
        width: 58%;
        height: 98%;
        border: 1px solid;
        float: left;
    }
    #clear{
        clear: both;
    }
</style>