<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 project-description">
            <div *ngIf="project != undefined">
                <project-description [project]="project"></project-description>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 left-side">
            <img-gallery [project]="project"></img-gallery>
            <div class="row">
                <div class="col-md-6">
                    <img class="imageTmp" src={{(project)?.stream}}>
                </div>
                <div class="col-md-6 omap">
                    <olmap [projects]="[project]" [selectedProject]="selectedProject"></olmap>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 hchart"><detail-page-chart></detail-page-chart></div>
        <div class="col-xs-12 col-md-6 gantt">
            <div>Мониторинг реализации проекта</div>
            <gantt></gantt>
        </div>
    </div>
</div>